<div class="container">

  <h4>Zgłoszenia użytkowników: </h4>
  <br />
  {{#if requests}}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Tytuł</th>
          <th scope="col">Kategoria</th>
          <th scope="col">Data</th>
          <th scope="col">Imię i nazwisko</th>
          <th scope="col">Status</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#each requests}}
          <tr>
            <td><a style="color: black;" href="/requests/show/{{id}}"><p>{{title}}</p></a></td>
            <td>{{category}}</td>
            <td>{{formatDate date 'LLL'}}</td>
            <td>{{firstName}} {{lastName}}</td>
            <td>{{status}}</td>
            <td>
              <a class="btn btn-success btn-sm" href="/requests/show/{{id}}"><i class="fa fa-folder-open"></i> Otwórz</a>
              <form action="/requests/{{id}}?_method=DELETE" method="post" id="delete-form">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-delete btn-sm"><i class="fa fa-close">Usuń</i></button>
              </form>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>Nie utworzyłeś jeszcze żadnych zgłoszeń.</p>
  {{/if}}
</div>
