<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="align-self-center col-md-6">
        <h1 class="text-center text-md-left display-3">Jesteś nowym użytkownikiem?</h1>
        <p class="lead">Załóż darmowe konto wypełniając widoczny formularz</p>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card text-white p-5 bg-primary">
            <h3 class="text-center">Zarejestruj się</h3>
            <form action="/users/register" method="post">
              <div class="form-group">
                <label for="email">Imię</label>
                <input type="text" class="form-control" name="name" value="{{name}}" required />
              </div>
              <div class="form-group">
                <label for="email">Nazwisko</label>
                <input type="text" class="form-control" name="lastname" value="{{lastname}}" required />
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" value="{{email}}" required />
              </div>
              <div class="form-group">
                <label for="password">Hasło</label>
                <input type="password" class="form-control" name="password" value="{{password}}" required />
              </div>
              <div class="form-group">
                <label for="password2">Potwierdź hasło</label>
                <input type="password" class="form-control" name="password2" value="{{password2}}" required />
              </div>
              <div class="form-group">
                <div class="g-recaptcha" data-sitekey="6LfVVEgUAAAAAKhmbEv6WKHiHy8f9iBMa8trYRxo"></div>
              </div>
              <button type="submit" class="btn btn-primary" style="display: inline;">Zatwierdź</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
