<div class="container">
  {{#if privs}}
    <BR />
    <h4>Pliki do pobrania: </h4> <br />

  <table class="table">
    <thead>

      <tr>
        <th scope="col">Nazwa pliku</th>
        <th scope="col">Data dodania</th>
        <th scope="col">Rozmiar pliku</th>
        <th scope="col">Użytkownik</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each privs}}
      <tr>
        <td><a style="color: white;" href="/uploads/public/{{originalname}}">{{originalname}}</a>
        <td>{{formatDate date 'LLL'}}</td>
        <td>{{filesize size}}</td>
        <td>{{sharedTo}}</td>
        <td><form action="/privs/{{id}}?_method=DELETE" method="post" id="delete-form">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-delete btn-sm"><i class="fa fa-close">Usuń</i></button>
        </form></td>
      {{/each}}
    </tbody>
  </table>
  </div>
  {{/if}}
</div>
